.file-card {
    position: relative;
    background: #f9f9f9;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.file-card:hover{
    background: #e4e1e1;
    cursor: pointer;
}

.file-info {
    flex-grow: 1;
}

.delete-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    border: none;
    color: #e74c3c;
    font-size: 18px;
    cursor: pointer;
}