<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" id="username" name="username" [(ngModel)]="model.username" required minlength="3"
                        class="login__input" placeholder="Username">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" id="password" name="password" class="login__input" placeholder="Password"
                        [(ngModel)]="model.password" required minlength="3">
                </div>
                <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
                <button type="submit" class="button login__submit" [disabled]="loginForm.invalid || isLoading">
                    <span class="button__text">{{ isLoading ? 'Logging in...' : 'Login' }}</span>
                </button>
            </form>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>